src/main/mule/implementation/address.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="usps-getaddress" >

		<!-- Build the input parameters for the USPS service -->
		<ee:transform doc:name="api parameters" >
			<ee:variables>
				<ee:set-variable variableName="apiQueryParameters"><![CDATA[#[ %dw 2.0
					output application/java ---
					{
						"state": attributes.queryParams.state,
						"ZIPCode": attributes.queryParams.zipCode,
						"city": attributes.queryParams.city,
						"streetAddress": attributes.queryParams.street 
					}]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable variableName="apiMethod" value="GET"/>
		<set-variable variableName="apiPath" value="${usps.addresspath}"/>
		<set-variable variableName="apiCodeSuccess" value="200"/>

		<!-- Get the authorization token and create the http header-->
		<os:retrieve doc:name="get USPS auth token" key="usps_token" objectStore="Object_store"/>
		<set-variable variableName="apiHeaders" value='#[{Authorization : "Bearer " ++ payload}]'/>

		<flow-ref name="call-api" />

		<!-- Process the response from call-api or handle missing token -->
		<ee:transform doc:name="USPS Get Address Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
					output application/json skipNullOn="everywhere"
					---
					if ( vars.httpStatus != 200 ) {
						correlationId:vars.correlationId,
						code: vars.httpStatus,
						message: vars.httpMessage.error.errors[0].detail
					}
					else {
						street: payload.address.streetAddress,
						secondary: payload.address.secondary,
						city: payload.address.city,
						state: payload.address.state,
						zipcode: payload.address.ZIPCode,
						zipplus4: payload.address.ZIPPlus4
					}
				]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" >
				<set-variable variableName="httpStatus" value="500" />
				<set-variable variableName="httpMessage" 
					value="The backend service couldn't complete the request, please check the system logs for more information." />
				<ee:transform doc:name="USPS Get Address No Token Response" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
							output application/json
							---
							{
								correlationId:vars.correlationId,
								code: vars.httpStatus,
								message: vars.httpMessage
								
							}]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
