src/main/mule/implementation/authentication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	

	<flow name="authentication-http">
        <http:listener config-ref="api-httpListenerConfig" path="/authorization">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
        </http:listener>
		<flow-ref name="authentication" />
	</flow>

	<!-- Scheduler flow to get token every 30 minutes -->
	<flow name="authentication-scheduler">
		<scheduler doc:name="Scheduler" >
			<scheduling-strategy>
				<fixed-frequency frequency="${scheduler.frequency}" timeUnit="MINUTES"/>
         	</scheduling-strategy>
		</scheduler>
		<flow-ref name="authentication" />
	</flow>

	<flow name="authentication">
		<logger doc:name="payload" level="INFO" message="Get the authentication token"/>
		
		<ee:transform doc:name="api parameters" >
			<ee:variables >
				<ee:set-variable variableName="apiBody"><![CDATA[#[ %dw 2.0 ---
					{
						grant_type: p('usps.granttype'),
						client_id: p('usps.clientid'),
						client_secret: p('usps.clientsecret')
					}]]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable variableName="apiPath" value="${usps.tokenpath}"/>
		<set-variable variableName="apiMethod" value="POST"/>
		<set-variable variableName="apiCodeSuccess" value="200"/>
		<set-variable variableName="apiHeaders" value='#[ { "Content-Type" : "application/json" } ]'/>
		<flow-ref name="call-api" />

		<choice doc:name="authorization token successful?" >
            <when expression='#[ vars.httpStatus == 200 ]'>
				<set-payload doc:name="get token" value="#[payload.access_token]" />
				<os:store doc:name="save token" key="usps_token" objectStore="Object_store"/>
				<set-payload value="{ 'message' : 'Authorization token retrieved' }" mimeType="application/json" encoding="UTF-8"/>
				<logger doc:name="payload" level="INFO" message="Get the authentication token"/>
			</when>
		</choice>

	</flow>
</mule>