src/main/mule/implementation/common-tools.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="call-api">

		<http:request config-ref="HTTP_Request_configuration" 
			path="#[vars.apiPath]" method="#[vars.apiMethod]" sendCorrelationId="ALWAYS" sendBodyMode="AUTO">
			<http:body><![CDATA[#[output application/json --- vars.apiBody]]]></http:body>
			<http:headers><![CDATA[#[vars.apiHeaders]]]></http:headers>  
			<http:query-params><![CDATA[#[if (vars.apiQueryParameters != null ) vars.apiQueryParameters else {} ]]]></http:query-params>
			<http:response-validator>
				<http:success-status-code-validator values="#[vars.apiCodeSuccess]" />
			</http:response-validator>
		</http:request>

		<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[200]'  />

		<!-- Remove variables -->
		<choice doc:name="remove variables" >
            <when expression='#[ vars.apiQueryParameters != null ]'>
				<remove-variable doc:name="remove apiQueryParameters" variableName="apiQueryParameters"/>
			</when>
            <when expression='#[ vars.apiBody != null ]'>
				<remove-variable doc:name="remove apiBody" variableName="apiBody"/>
			</when>
		</choice>
		<remove-variable doc:name="remove apiHeaders" variableName="apiHeaders"/>
		<remove-variable doc:name="remove apiMethod" variableName="apiMethod"/>

		<error-handler>
			<on-error-continue enableNotifications="false" logException="false">
				<logger level="INFO" category="app" message="There was an error while calling the API service" />
				<logger level="INFO" category="app" message="#[error.errorMessage.payload]" />
				<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[error.errorMessage.attributes.statusCode]'/>
				<set-variable doc:name="set apiErrorMessage" variableName="apiErrorMessage" value='#[error.errorMessage.payload]'/>
			</on-error-continue>
		</error-handler>
	</flow> 
	
</mule>