src/main/mule/implementation/common-tools.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="call-api">

		<http:request doc:name="call API service" config-ref="HTTP_Request_configuration" 
			path="${usps.addresspath}" method="#[vars.apiMethod]">
			<http:headers><![CDATA[#[vars.apiHeaders]]]></http:headers>
			<http:query-params><![CDATA[#[vars.apiQueryParameters]]]></http:query-params>
		</http:request>
		
		<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[200]'  />
		<set-variable doc:name="set httpMessage" variableName="httpMessage" value='#[payload]'/>

		<error-handler>
			<on-error-continue enableNotifications="false" logException="false">
				<logger level="INFO" category="app" message="There was an error while calling the API service" />
				<logger level="INFO" category="app" message="#[error.errorMessage.payload]" />
				<set-variable doc:name="set httpStatus" variableName="httpStatus" value='#[error.errorMessage.attributes.statusCode]'  />
				<set-variable doc:name="set httpMessage" variableName="httpMessage" value='#[error.errorMessage.payload]'/>
			</on-error-continue>
		</error-handler>
	</flow> 
	
</mule>