src/main/mule/implementation/get-address.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="usps-getaddress" >
		<ee:transform doc:name="USPS Query Params for Address Service">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/java
                    ---
                    payload
                ]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="city"><![CDATA[%dw 2.0
                    output application/java
                    ---
                    attributes.queryParams.city
                ]]></ee:set-variable>
                <ee:set-variable variableName="state"><![CDATA[%dw 2.0
                    output application/java
                    ---
                    attributes.queryParams.state
                ]]></ee:set-variable>
                <ee:set-variable variableName="streetAddress"><![CDATA[%dw 2.0
                    output application/java
                    ---
                    attributes.queryParams.street               ]]></ee:set-variable>
                <ee:set-variable variableName="ZipCode"><![CDATA[%dw 2.0
                    output application/java
                    ---
                    attributes.queryParams.zipCode
                ]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<os:retrieve doc:name="USPS Token Retrieve from Object Store" key="usps_token" objectStore="Object_store">
			<os:default-value ><![CDATA[""]]></os:default-value>
		</os:retrieve>
		
		<flow-ref doc:name="Flow Reference" doc:id="2fa700cd-e881-46d7-8254-1c921217a982" name="call-api"/>
		<ee:transform doc:name="USPS Get Address Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if ( vars.httpStatus != 200 ) {
	code: vars.httpStatus,
	message: vars.httpMessage.error.errors[0].detail
}else
										{
	"street": payload.address.streetAddress,
	"secondary": payload.address.secondary,
	"city": payload.address.city,
	"state": payload.address.state,
	"zipcode": payload.address.ZIPCode,
	"zipplus4": payload.address.ZIPPlus4
}
							]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	
</mule>

	